<h1>Listing furnitures</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @furnitures.each do |furniture| %>
  <tr>
    <td><%= furniture.image %></td>
    <td><%= furniture.name %></td>
    <td><%= furniture.description %></td>
    <td><%= furniture.price %></td>
    <td><%= furniture.available %></td>
    <td><%= link_to 'Show', furniture %></td>
    <td><%= link_to 'Edit', edit_furniture_path(furniture) %></td>
    <td><%= link_to 'Destroy', furniture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Furniture', new_furniture_path %>
