<!DOCTYPE html>
<html>
<head>
  <title>ANR</title>
  <%= stylesheet_link_tag    "application", "style.css" , "jquery.flexslider-min.js" , :media => "all" %>
  <%= javascript_include_tag "application"  , "http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main" class="wrapper" class="borders">
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
